@import "fonts_variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?w8xsr9');
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?w8xsr9#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?w8xsr9') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?w8xsr9') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff2?w8xsr9') format('woff2'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?w8xsr9#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-VM_BLUE_logo {
  &:before {
    content: @icon-VM_BLUE_logo; 
  }
}
.icon-tec {
  &:before {
    content: @icon-tec;
  }

  padding: 2px;
}
.icon-download_spec {
  &:before {
    content: @icon-download_spec; 
  }
}

.icon-eco-energy {
  &:before {
    content: @icon-eco-energy;
  }
}
