.vmb-print-header{
  display: none;
}

@media print {

  @page {
    size: A4;
  }

  html{
    width: 210mm;
  }

  .vmb-main-header{
    display: none;
  }

  .vmb-print-header{
    display: block;

    .logo{
      margin: 1rem;
      width: 7rem;
    }
  }

  .main__inner-wrapper{
    padding: 0 1rem;
  }

  .container{
    width: 100% !important;
  }

}