//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                       COLORS PALLET
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************

//Image path

@vmb-image-path: "/_ui/responsive/theme-vanmarckeblue/images/";

//Van Marcke colors
@titlecolor: #003360;
@vanmarckeblue: #00385a;
@cyaan: #009de0;
@cyaan-hover: #a2d9ef;

@vmb-gray-1: #f2f2f2;
@vmb-gray-2: #e5e5e5;
@vmb-gray-3: #cccccc;


@vmb-border-radius: 3px;

@brand-primary: 	@vanmarckeblue;
@brand-secondary: 	@cyaan;
@brand-tertiary: 	@cyaan-hover;

@brand-swap-primary:    #ec7205;
@brand-swap-secondary:  #47b6b1;
@brand-swap-tertiary:   #ff973b;


//*********Typography Colors*********
@text-color:			#19212b;
@text-color-secondary:	#929292;
@link-color: 			@cyaan;
@link-hover-color:      #0079ad;
@headline-color:		@titlecolor;
@headings-color:        @titlecolor;

@hover-background: @vmb-gray-1;

//== Borders
@border-color: 			@vmb-gray-1;
@border-color-2:		@vmb-gray-2;
@border-color-3:		@vmb-gray-3;
@border-radius-base:    @vmb-border-radius;


//*********form colors*********
@label-color: 			#153a59;

@input-color: 			@text-color;
@input-border-color: 	@border-color-3;
@placeholder-color: 	#b9bdc2;
//** Border color for inputs on focus
@input-border-focus:    @cyaan-hover;
//** Border color for inputs on error
@input-error:    #c53131;
//** Background color for inputs on error
@input-error-bg:        #f6e0e0;
//** color for error text
@input-error-text:        @input-error;

@input-success: @border-color-3;
@input-success-bg: transparent;
@input-success-text: #00A651;
@input-border-radius: 3px;

@select2-highlight-color: @cyaan;

@state-danger-text: @input-error;

//*********Header Background*********
@header-background-color: 	#fff;
@nav-border-color: 			#d3d3d3;
@nav-account-bg:            #d7d7d7;


//*********Secondary Navigation colors*********
//Background color for My Account and My Company dropdowns
@meta-nav-color: #154259;
@meta-nav-color-open: @link-color;
@meta-nav-hover-color: @brand-primary;
@meta-nav-border-color: @nav-border-color;
@meta-nav-background: #0d6878;
@meta-nav-hover-background: #0f7384;


//*********Search*********
@searchbar-icon-color: #b9bdc2;
@check-box-bg: #ffffff;

//********* icon navigation colors*********
@nav-icon-color: @vanmarckeblue;
@nav-icon-color-secondary: @brand-secondary;
@nav-icon-hover-background: transparent;


//*********Header Navigation-Categories Background*********
@nav-cat-button-color: @vanmarckeblue;
@nav-cat-button-border: @nav-cat-button-color;
@nav-cat-button-color-hover: @cyaan;
@nav-cat-button-border-hover: @nav-cat-button-color-hover;
@nav-cat-menu-border: @nav-cat-button-color-hover;
@nav-cat-menu-lvl1-active-bg: #f2f2f2;
@nav-cat-menu-lvl2-color: @vanmarckeblue;


@nav-cat-background: @nav-icon-color;
@nav-cat-border: @nav-cat-background;
@nav-cat-hover-background: @border-color;
@nav-cat-link-color: #ffffff;
@nav-cat-font-size: 13px;
@nav-subcat-color: @text-color;
@nav-subcat-title-color: rgba(0,0,0,0.7);
@nav-subcat-background: @header-background-color;
@nav-subcat-border-color: @nav-border-color;
@nav-subcat-hover-background: @nav-border-color;



//*********Offcanvas navigation colors*********
@offcanvas-nav-header-color: @nav-icon-color;
@offcanvas-nav-header-background: #ffffff;
@offcanvas-nav-disabled: @text-color-secondary;
@offcanvas-meta-nav-color: #ffffff;
@offcanvas-meta-nav-border-color: @meta-nav-border-color;
@offcanvas-meta-nav-background: @meta-nav-hover-background;
@offcanvas-meta-nav-background-open: @meta-nav-background;
@offcanvas-meta-nav-hover-background: #107d8f;
@offcanvas-nav-cat-color: @text-color;
@offcanvas-nav-cat-title-color: rgba(0,0,0,0.7);
@offcanvas-nav-cat-background: #ffffff;
@offcanvas-nav-cat-border-color: @border-color;
@offcanvas-nav-cat-hover-background: @border-color;


//*********Breadcrumbs Colors*********
@breadcrumb-bg: transparent;


//*********Footer colors*********
@footer-background: @border-color;
@footer-text-color: @text-color;
@footer-border-color: @nav-border-color;
@copyright-background: @nav-account-bg;
@copyright-color: @text-color;

//*********Well colors*********
@well-secondary-bg: lighten(@brand-secondary, 47%);//#fef0df;
@well-quaternary-bg: #f2f2f2;

//Item colors
@item-promo-color: #00a651;
@item-sale-color: #ED1C24;
@item-sale-price-color: @text-color-secondary;


//== Tables
@table-2n-line-bg:				@border-color;
@table-head-bg:					white;
@table-head-color:				@brand-primary;
@table-head-border-color:		@nav-border-color;
@table-border-color:			@border-color-2;
@table-expand-bg:				#e4e4e4;
@cart-product-table-head-color:				@table-expand-bg;
@table-data-bg-color: #ffffff;

//== List
@list-active-bg:                #f6e7d9;


//== Pagination
@pagination-bar-framed:			true;
@pagination-border:				transparent;
@pagination-font-size:			.9rem;
@pagination-active-color: 		white;
@pagination-active-bg: 		    @brand-primary;
@pagination-active-font-weight: 700;
@pagination-width-large:		45px;

@pagination-disabled-color:     #a6a6a6;
@pagination-hover-color:		white;
@pagination-hover-bg:           @cyaan;

@pagination-prev-next-hover-bg:		@pagination-hover-bg;
@pagination-prev-next-hover-color:	@pagination-hover-color;


//*********Button Colors*********

@btn-border-radius-base: @vmb-border-radius;
@btn-font-size: 14px;
@btn-border-width: 2px;

//Primary Button State
@btn-primary-color: #ffffff;
@btn-primary-bg: @brand-primary;
@btn-primary-border: @brand-primary;
@btn-primary-hover-color: #fff;
@btn-primary-hover-border: @brand-secondary;
@btn-primary-hover-background: @brand-secondary;
@btn-primary-disabled-bg: #777777;

//Secondary Button State
@btn-default-color: #ffffff;
@btn-default-bg: @brand-secondary;
@btn-default-border: @brand-secondary;
@btn-default-hover-color: #ffffff;
@btn-default-hover-border: @cyaan-hover;
@btn-default-hover-background: @brand-secondary;
@btn-default-disabled-bg: #777777;

//*********Accordion Colors*********
@accordion-bg: #000000;

//*********Carousel Style*********
@carousel-font-style: normal;

//*********Modal Colors*********
@modal-close-btn-color: #797979;

//*********Account Colors*********
@account-subheadline-bg: #f4f4f4;

//*********checkout*********
@steps-color: @headline-color;
@steps-background: #ffffff;
@steps-color-active: #ffffff;
@steps-background-active: #a6a6a6;
@steps-border-active: @border-color-3;
@steps-divider: @border-color-2;
@checkout-icon: @headline-color;
@checkout-list-head-bg: #ffffff;
@checkout-list-head-color: @text-color;
@checkout-list-head-border: @steps-divider;
@checkout-list-head-padding: 60px 0 10px;
@checkout-list-head-padding-first: 0;

//*********Coupon Colors*********
@coupon-list-item-border: @border-color-3;
@coupon-list-item-bg: @table-2n-line-bg;
@coupon-list-item-remove-icon: #cdcdcd;

@grayblue: 				#F2F4F7;

@mini-cart-count-badge: @cyaan;

//*********Stock Status*********
@stock-status-inStock: @input-success-text;
@stock-status-outStock: @input-error-text;

//********Sticky Buttons********
@sticky-buttons-bg-color: #ffffff;
@sticky-buttons-shadow-color: @vmb-gray-2;