//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb-section{
	background: @breadcrumb-bg;
  	.full-width-padding();
	margin-bottom: 10px;

	.breadcrumb{
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		margin: 0;
	}
}
