.consent-content-paragraph {
  padding: 10px;
}

.manage-consent-item {
  min-height: 35px;
  border: 1px solid #CCCCCC;
  background-color: #e6e6e6;
  width: 100%;
  cursor: pointer;
  padding: 10px;

  &:hover {
    background-color: #CCCCCC;
  }
}

.material-switch {

  > input[type="checkbox"] {
    display: none;
  }

  > label {
    cursor: pointer;
    height: 0;
    position: relative;
    width: 40px;
  }

  > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
  }

  > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
  }

  > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
  }

  > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
  }

  &-disabled {
    > label {
      cursor: not-allowed;
    }
  }
}

@media (max-width: 639px) {
  #consent-content-toggle {
    padding: 20px 20px 0 0;
  }

  .manage-consent-item {
    margin: 0;
  }
}

.consent-overview {
  margin-right: 30vw;
  @media (max-width: 639px) {
    margin: 0 20px;
  }

  &__body {
  }

  &__item {
    margin: 10px 0;
    padding-top: 10px;

    &__content {
    }

    &__checkbox {
      display: inline;
    }

    &-disabled {
      cursor: not-allowed;
    }
  }

  &__button {
    margin-top: 20px;
    width: 20vw;

    @media (max-width: 639px) {
      width: 100%
    }
  }
}