//
// Pagination (multiple pages)
// --------------------------------------------------


.pagination-wrap {
	float: right;
	text-align: right;
}

.pagination {
	border: @pagination-border-width solid @pagination-border;
	font-weight: @pagination-font-weight;
	margin: 0;

	> li {
		vertical-align: top;
		display: inline-block;

		> a,
		> span {
			position: static;
			border: none;
			margin: 0;
			float: none;
			display: inline-block;
		}

		&.pagination-prev,
		&.pagination-next,
		&.pagination-first,
		&.pagination-last{
			> a, > span {
				font-size: 11px;

				&:hover,
				&:focus {
					background-color: @pagination-prev-next-hover-bg;
					color: @pagination-prev-next-hover-color;
				}
			}
			&.disabled {
				> a, > span {
					&:hover,
					&:focus {
						color: @pagination-disabled-color;
						background-color: transparent;
						border-color: @pagination-border;
					}
				}
			}
		}

		&.pagination-prev, &.pagination-first  {
			text-align: left;
			> a, > span {
				border-right: @pagination-border-width solid @pagination-border;

			}
		}
		&.pagination-next, &.pagination-last {
			text-align: right;
			> a, > span {
				border-left: @pagination-border-width solid @pagination-border;
			}
		}
	}

	> .active > a,
	> .active > span {
		&,
		&:hover,
		&:focus {
			background-color: transparent;
			border: none;
			font-weight: @pagination-active-font-weight;
		}
	}

	.pagination-size(@pagination-height-base; @pagination-width-base; @pagination-font-size; @grid-gutter-width/4);
}

@media (max-width: @screen-sm-max) {
	@button-height: floor((@padding-large-vertical * 2) + (@btn-font-size * @btn-line-height) + (@btn-border-width * 2));
	.pagination {
		.pagination-size((@button-height - (@pagination-border-width * 2)); @pagination-width-base; @pagination-font-size; @grid-gutter-width/2);
	}
}

@media (max-width: @screen-xs-max) {
	.pagination {
		display: table;
		width: 100%;

		> li {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			> a,
			> span {
				float: none;
			}
		}
		.pagination-size(@pagination-height-large; @pagination-width-large; @pagination-font-size; @grid-gutter-width);
	}

  .pagination-with-pager .pagination-wrap {
    float: none;
  }
}


// Pagination size
.pagination-size(@pagination-height; @pagination-width; @font-size; @next-prev-offset) {
	> li {
		> a,
		> span {
			line-height: @pagination-height;
			width: @pagination-width;
			padding: 0;
			font-size: @font-size;
			text-align: center;
		}
		&.pagination-prev, &.pagination-first {
			> a,
			> span {
				margin-right: @pagination-width/3;
				width: @pagination-width + @next-prev-offset;
				.border-left-radius(@btn-border-radius-base);
			}
		}

		&.pagination-next, &.pagination-last {
			> a,
			> span {
				margin-left: @pagination-width/3;
				width: @pagination-width + @next-prev-offset;
				.border-right-radius(@btn-border-radius-base);
			}
	  	}
	}
}