.page-wishlists-detail {

  textarea {
    min-height: 100px;
  }
}

.page-wishlists {

  .vmb-wish-list-overview__table {

    &-name {
      width: 25%;
    }

    &-date {
      width: 10%;
    }

    &-description {
      width: 45%;
    }

    &-quantity {
      width: 10%;
    }

    &-links {
      width: 10%;
    }
  }
}


#vmbAddToWishlistWishListModal {

  textarea {
    min-height: 100px;
  }
}

#vmbRestoreWishListModal {

  textarea {
    min-height: 100px;
  }
}