.vmb-favorite-store{
  padding-top: 10px;
  width: 190px;
  .clearfix;

  @media (min-width: @screenLgMin) {
    width: 310px;
  }

  select{
    visibility: hidden;
    opacity: 0;
  }

  &__phone{
    float: left;
    margin-right: 10px;
    padding-top: 8px;

    .glyphicon{
      font-size: 22px;
      line-height: 22px;
    }
  }

  &__mobile{
    padding: 0 15px;
    margin-bottom: 30px
  }

  &__switcher{
    display: inline-flex;
    align-items: center;
    width: ~"calc(100% - 40px)";

    .select2-container{

      .select2-selection--single{
        height: 40px;

        .select2-selection__rendered{
          line-height: normal;
          font-size: 12px;
          padding-top: 2px;
          height: 100%;

          .select2-selection__placeholder{
            line-height: 36px;
            vertical-align: middle;
          }
        }
        .select2-selection__arrow b{
          margin-top: 3px;
        }
      }
    }
  }
}

.favorite-store-selector{
  max-width: 60%;

  @media (min-width: @screenLgMin) {
    max-width: ~"calc(100% - 110px)";
  }
}

.favorite-store-selector-select2{
  .select2-search--dropdown{
    display: none;
  }
}