//Main Navigation

.vmb-main-menu-btn{
  padding: 10px 0;

  button.btn{
    color: @nav-cat-button-color;
    background-color: transparent;
    border: 1px solid @nav-cat-button-border;
    text-align: left;
    padding: 10px 19px;
    height: 100%;
    margin: 0;
    line-height: 100%;

    &:hover,&:active,&:focus{
      color: @nav-cat-button-color-hover;
      border-color: @nav-cat-button-border-hover;
    }

    .glyphicon{
      top: 1px;
      margin-left: 5px;
    }
  }

  .vmb-category-menu{
    padding-left: 0;
    display: none;
    width: 300px;
    position: absolute;
    background-color: #FFF;
    border: 1px solid @nav-cat-menu-border;
    z-index: 50;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    list-style: none;
    border-bottom-left-radius: @btn-border-radius-base;
    margin-top: 10px;
    top: 49px;
  }

  &.open{

    button.btn{
      position: relative;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: @nav-cat-button-color-hover;
      background-color: @nav-cat-button-color-hover;
      color: white;
      padding-bottom: 10px;

      @media (min-width: @screenMdMin) {
        &:after{
          content: " ";
          position: absolute;
          height: 21px;
          display: block;
          width: ~"calc(100% + 2px)";
          left: -1px;
          background-color: @nav-cat-button-color-hover;
          border: 1px solid @nav-cat-button-color-hover;
        }
      }
    }

    .vmb-category-menu{
      display: block;
    }
  }
}

.navigation--bottom{
  background-color: transparent;
  margin-right: 10px;
}



.childlevel1{
  cursor: pointer;

  &__link{
    padding: 15px 19px;
    width: ~"calc(100% - 50px)";
    display: inline-block;

    a{
      padding: 0;
    }
  }

  >.glyphicon{
    float: right;
    padding: 15px;
  }

  .sub-menu{
    position: absolute;
    left: 299px;
    right: 0;
    top: -1px;
    border-bottom-right-radius: @btn-border-radius-base;
    border: 1px solid @nav-cat-menu-border;
    background-color: white;
    display: none;
    width: 52vw;
    column-count: 4;
    min-height: 100%;
    padding-right: 5px;

    @media (max-width: 1500px) {
      column-count: 3;
    }

    @media (max-width: 1200px) {
      column-count: 2;
    }

    a {
      padding: 0;
    }
  }

  &.show-sub{
    background-color: @nav-cat-menu-lvl1-active-bg;

    .sub-menu{
      display: block;
    }
  }

}

.childlevel2{
  padding: 15px;
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  display: table;

  &__link{
    display: inline-block;
    a{
      color: @nav-cat-menu-lvl2-color;
      font-weight: bold;
      &:hover{
        color: @link-hover-color;
      }
    }
  }
}

.childlevel3{
  list-style: none;
  padding: 0;

  &__link{
    padding: 5px 0;
    a{
      color: @text-color;
      &:hover{
        color: @link-hover-color;
      }
    }
  }
}


//Mobile Navigation

@media (max-width: @screenSmMax) {

  .navigation--bottom {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 300px;
    width: 0;
    overflow: auto;
    background-color: #FFF;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    z-index: 990;
    min-height: 100vh;
    padding-bottom: 150px;

    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);

    &.open {
      width: 100%;
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
    }

  }

  .vmb-main-menu-btn {
    padding-bottom: 0;

    button.btn {
      border: none;
      background-color: @nav-cat-button-color-hover;
      border-radius: 0;
      color: white;

      .glyphicon {
        top: 1px;
        margin-right: -3px;
        float: right;
      }
    }

    .vmb-category-menu{
      display: none;
      position: relative;
      margin: 0;
      width: 100%;
      top: 0;
      border-right: none;
      border-left: none;
      border-radius: 0;
    }

    &.open{

      button.btn{
        padding-bottom: 10px;
      }

      .vmb-category-menu{
        display: block;
      }
    }
  }

  .childlevel1{
    cursor: pointer;

    &__link{
      width: 50%;
    }

    >.glyphicon{
      top: 1px;
      float: right;
      padding: 15px;
      width: 40%;
      text-align: right;
    }

    .sub-menu{
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      column-count: 1;
      width: 100%;
      border: none;
    }
  }

  .childlevel2{
    padding: 0;
    display: block;

    &__link{
      width: 100%;
      padding: 15px 19px;
      border-bottom: 1px solid @border-color;

      a{
        display: inline-block;
        width: 50%;
      }

      .glyphicon{
        top: 1px;
        float: right;
        text-align: right;
        width: 40%;
      }
    }
    width: 100%;

  }

  .childlevel3{
    display: none;
    &__link{
      width: 100%;
      padding: 15px 19px;
      border-bottom: 1px solid @border-color;
    }
  }

  .childlevel2.open{
    .childlevel3{
      display: block;
    }
  }

  .vmb-mobile-account{
    border-bottom: 1px solid @nav-account-bg;

    button.btn {
      width: 100%;
      border: none;
      text-align: left;
      padding: 10px 19px;
      background-color: @nav-account-bg !important;
      border-radius: 0;

      .glyphicon {
        top: 1px;
        margin-right: -3px;
        float: right;
      }
    }

    .vmb-mobile-account__nav{
      display: none;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;

      li{
        display: block;
        width: 100%;
        padding: 15px 19px;
        border-bottom: 1px solid @border-color;

        a{
          color: @text-color;
          &:hover{
            color: @link-hover-color;
          }
        }
      }

    }

    &.open{

      .vmb-mobile-account__nav{
        display: block;
      }
    }
  }

}

.vmb-sm-navigation__bg{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}