.vmb-saved-cart-overview {
  table-layout: fixed;

  .restore-item-link {

    .glyphicon-share-alt {
      font-size: inherit !important;
      padding: 0 !important;;

      @media (max-width: @screenSmMax) {
        font-size: 18px !important;
        padding: 13px;
      }
    }

    span:last-child {
      @media (max-width: @screenSmMax) {
        font-size: 18px;
      }
    }
  }
}

.export-item-link {

}

.export__cart--link
&__table {
  &.table {
    > thead > tr > th {
      padding: 1rem;
    }

    > tbody > tr > td {
      padding: 1rem;
    }
  }
}

@media (max-width: @screenSmMax) {
  display: block;

  &__table {
    &.table {
      > tbody > tr > td {
        padding: 8px;
      }
    }
  }

  thead {
    display: none;
  }

  tbody {
    display: block;
  }

  tr {
    display: block;
    margin: 10px 0;
    border-bottom: 1px solid @border-color-2;
    position: relative;

    &:last-child {
      border-bottom: none;
    }
  }

  td {
    display: inline-block;
    border-top: none !important;


    &:not(.restore-item-column):not(.remove-item-column):not(.edit-item-column) {
      &::before {
        content: attr(data-label);
        display: inline-block;
        margin-right: 5px;
      }
    }

    &.restore-item-column {
      position: absolute;
      right: -4px;
      width: auto;
      top: auto !important;
      bottom: 0;
    }

    &.export-cart-column {
      position: absolute;
      text-align: center;
      width: auto;
      top: auto !important;
      bottom: 0;
    }

    &.remove-item-column,
    &.edit-item-column {
      position: absolute;
      right: -4px;
      width: auto;
      top: 0;

      .glyphicon {
        font-size: 18px;
      }
    }
  }
}


.vmb-saved-cart-details {
  .back-link {
    padding: 10px 0 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid @border-color-2;
  }

  &__info {
    background-color: @border-color-2;
    padding: 20px;
    margin: 0 10px 30px;

    .item-label {
      padding: 5px 0;
    }

    .item-value {
      padding: 5px 0;
      font-size: 14px;
    }

    .item-action {
      text-align: right;

      .edit-item-link {
        display: inline-block;
        margin: 0;
      }

      .restore-item-link {
        display: block;
        float: right;

        .glyphicon-share-alt {
          margin-right: 0;
          padding: 0;
          font-size: 16px;
        }
      }

      @media (max-width: @screenXsMax) {
        margin-top: 0;
      }
    }

    @media (max-width: @screenXsMax) {
      .item-value {
        display: block;
      }
    }
  }


  &__producttitle {
    margin-left: 10px;

    @media (max-width: @screenSmMax) {
      border-bottom: 1px solid @border-color-2;
      padding-bottom: 0.5rem;
    }

  }

  .cartpotproline {
    margin-top: 30px;
    padding-top: 25px;
    border-top: 1px solid @border-color-2;
  }

  &__bottom {
    margin-top: 20px;

    text-align: right;

    .btn {
      display: inline-block;
    }

    .restore-item-link {
      .glyphicon-share-alt {
        margin-right: 0 !important;
        padding: 0 !important;
        font-size: 14px !important;
      }
    }
  }
}


.vmb-saved-cart-import {
  .back-link {
    padding: 10px 0 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
  }

  .account-section {
    padding: 0 15px;
  }
}

.import-csv__actions {
  padding: 0;
  text-align: right;
}

@import "savedcart_print";