@media print {
  .vmb-saved-cart-details{
    padding: 0;

    .back-link{
      a{
        display: none;
      }
    }


    &__info{
      border: 1px solid @border-color-2;

      &__data{
        right: auto;
        width: 100%;
      }

    }
  }

  .vmb-stock-text{
    display: inline-block !important;
  }
}