.vmb-categorylist{

}

.vmb-categorylist-item{
  .mixin-flex-display;


  &__img{
    margin-right: 15px;
    max-width: 60px;
    height: auto;
  }

  &__content{

  }

  &__title{
    color: @text-color;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;

    &:hover{
      color: @link-hover-color;
    }
  }

  &__childs{
    padding: 0;
    list-style: none;

    li{

    }

    a:not(.vmb-categorylist-item__more){
      color: @text-color;

      &:hover{
        color: @link-hover-color;
      }
    }
  }
}