.vmb-addressvalidation-modal{

  &__suggestions {
    padding: 5px 0;
    max-height: 50vh;
    overflow-y: auto;

    .radio {
      margin: 15px 0 0;
    }

  }

  &__original {
    border-top: 1px solid @vmb-gray-2;
    max-height: 50vh;
    overflow-y: auto;
    margin-top: 15px;
    padding-top: 15px;
  }

}