.vmb-categories{
  .mixin-flex-display();
  .mixin-flex-wrap(wrap);
  padding: inherit;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;

  &__category,
  &__brand {
    h3{
      font-size: 18px;
      text-align: center;
      position: absolute;
      bottom: 1.5rem;
      right: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.8);
      margin: 0;
      padding: 5px;
      z-index: 2;
    }

    .overlay{
      position: absolute;
      top: 5px;
      bottom: 5px;
      right: 5px;
      left: 5px;
      background-color: @brand-secondary;
      -moz-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      -webkit-transition: all 0.8s ease;
      transition: all 0.8s ease;
      opacity: 0;
      z-index: 1;
    }

    &:hover{
      h3{
        background: none;
        bottom: 50%;
        -webkit-transform: translate(0,50%);
        -ms-transform: translate(0,50%);
        -o-transform: translate(0,50%);
        transform: translate(0,50%);
        color:white;
      }

      .overlay{
        opacity: .8;
      }
    }
  }

  &__category{
    display: flex;
    max-width: 250px;
    min-width: 150px;
    max-height: 250px;
    justify-content: flex-start;
    position: relative;

    &__center {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5em 1em;
    }

    img {
      max-width: 250px;
      max-height: 250px;
      padding: 1.5em 1em;
    }
  }

  &__brand {
    max-width: 250px;
    padding: 5px;
    position: relative;
    display: block;
    margin: 1.5rem;


    &-center {
      width: 175px;
      height: 300px;
      position: relative;

    }

    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

  }
}

.vmb-categories::after {
  content: "";
  flex: auto;

}