.vmb-site-logo {
  .vmb-toggle-sm-navigation {
    float: left;
    background-color: transparent;
    color: @brand-primary;
    font-size: 24px;
  }
}

.vmb-main-header--checkout {
  .vmb-favorite-store {
    @media (max-width: @screenMdMax) {
      min-width: 250px;
    }
  }
}

.checkout-steps {

  @media (max-width: @screenXsMax) {
    padding-left: 0;
    padding-right: 0;
  }

  .step-head {
    display: block;
    -webkit-border-radius: @vmb-border-radius;
    -moz-border-radius: @vmb-border-radius;
    border-radius: @vmb-border-radius;

    @media (max-width: @screenXsMax) {
      padding-top: 10px;
      padding-bottom: 10px;

      &:before {
        line-height: 49px;
      }
    }

    &.active, &:hover {
      background-color: @brand-primary;
      border-color: @brand-primary;
      color: white;
    }

    &.active {
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .title {
      display: block;
      line-height: 29px;
    }
  }


  .step-body {

    + .step-head {
      margin-top: 10px;
    }

    .step-body-form, .checkout-paymentmethod, .checkout-shipping {
      -webkit-border-bottom-right-radius: @vmb-border-radius;
      -webkit-border-bottom-left-radius: @vmb-border-radius;
      -moz-border-radius-bottomright: @vmb-border-radius;
      -moz-border-radius-bottomleft: @vmb-border-radius;
      border-bottom-right-radius: @vmb-border-radius;
      border-bottom-left-radius: @vmb-border-radius;
    }

    .checkout-next {
      margin: 0;
    }

    .chckt-pm {
      &:first-child {
        -webkit-border-top-right-radius: @vmb-border-radius;
        -webkit-border-top-left-radius: @vmb-border-radius;
        -moz-border-radius-topright: @vmb-border-radius;
        -moz-border-radius-topleft: @vmb-border-radius;
        border-top-right-radius: @vmb-border-radius;
        border-top-left-radius: @vmb-border-radius;
      }

      &:last-child {
        -webkit-border-bottom-right-radius: @vmb-border-radius;
        -webkit-border-bottom-left-radius: @vmb-border-radius;
        -moz-border-radius-bottomright: @vmb-border-radius;
        -moz-border-radius-bottomleft: @vmb-border-radius;
        border-bottom-right-radius: @vmb-border-radius;
        border-bottom-left-radius: @vmb-border-radius;
      }
    }

    .vmb-address-selector {
      display: block;
      border: 1px solid @border-color-2;
      padding: 14px 20px;

      .glyphicon {
        float: right;
        .glyphicon-triangle-right;
      }

      &:first-of-type {
        -webkit-border-top-right-radius: @vmb-border-radius;
        -webkit-border-top-left-radius: @vmb-border-radius;
        -moz-border-radius-topright: @vmb-border-radius;
        -moz-border-radius-topleft: @vmb-border-radius;
        border-top-right-radius: @vmb-border-radius;
        border-top-left-radius: @vmb-border-radius;
      }

      &:last-of-type {
        -webkit-border-bottom-right-radius: @vmb-border-radius;
        -webkit-border-bottom-left-radius: @vmb-border-radius;
        -moz-border-radius-bottomright: @vmb-border-radius;
        -moz-border-radius-bottomleft: @vmb-border-radius;
        border-bottom-right-radius: @vmb-border-radius;
        border-bottom-left-radius: @vmb-border-radius;
      }

      &.open {
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        -webkit-border-top-right-radius: @vmb-border-radius;
        -webkit-border-top-left-radius: @vmb-border-radius;
        -moz-border-radius-topright: @vmb-border-radius;
        -moz-border-radius-topleft: @vmb-border-radius;
        border-top-right-radius: @vmb-border-radius;
        border-top-left-radius: @vmb-border-radius;

        .glyphicon {
          .glyphicon-triangle-bottom;
        }
      }

      &:not(:first-of-type) {
        -webkit-border-top-right-radius: 0;
        -webkit-border-top-left-radius: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-topleft: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }

  }
}

.checkout-order-summary {

  @media (min-width: @screen-sm-min) {
    padding-top: 65px;
  }

  .checkout-order-summary-list {
    margin-bottom: 15px;

    .details {
      .name a {
        color: @brand-primary;
      }

      .sku {
        .vmb-sku();
      }
    }

    .checkout-order-summary-list-heading {
      padding-top: 0;

      & > div {
        float: none;
      }
    }

    &--payment {
      .data {
        .mixin-flex-display();
        .mixin-justify-content(space-between);

        & > div {
          .mixin-flex(1 1 auto);
        }
      }
    }
  }

  .subtotals {
    background-color: @vmb-gray-2;
    padding: 30px;

    @media (max-width: @screenXsMax) {
      margin: 30px 10px;
    }
  }
}

.checkout-summary-products {
  @media (max-width: @screenXsMax) {
    padding: 10px 20px 0;
  }
}

.vmb-checkout-new-address {
  display: none;
  padding: 14px 20px;
  border: 1px solid @border-color-2;
}

#addressbook {
  border: 1px solid @border-color-2;

  .addressEntry {
    padding: 14px 20px;

    &:not(:last-child) {
      border-bottom: 1px solid @border-color-2;
    }
  }

}

.vmb-footer--checkout .content {
  float: none;
}

.vmb-footer-checkout-top {
  padding: 20px 30px;
  .mixin-flex-display();

  .content {
    width: auto;
    margin-right: 20px;

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 5px 0;
      }
    }
  }

  .vmb-paymentmodes {
    text-align: center;
    margin: auto 0;
    .mixin-flex(1 1 auto);

    img {
      max-height: 75px;
      max-width: 200px;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  .footer__nav--container {

    @media (max-width: @screen-sm) {
      margin-bottom: 10px;
      text-align: center;
    }

    .footer__nav--links {
      padding-left: 0px;
      width: 100%;
      margin: 0px;
      list-style: none;

      .footer__link {
        margin-top: 10px;
      }

      a {
        color: @footer-text-color;
        font-size: 14px;
      }
    }
  }
}

.vmb-footer--checkout {
  .footer__copyright {
    padding: 5px 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .mixin-flex-display();
      .mixin-flex-wrap(wrap);
      .mixin-justify-content(center);

      li {
        display: block;
        margin: 10px;

        a {
          color: @text-color;

          &:hover {
            color: @link-hover-color;
          }
        }
      }
    }
  }
}

.vmb-checkout-refnumber {
  margin-top: 15px;
}

.vmb-checkout-paymentaddress {
  .address {
    margin-bottom: 15px;
  }
}

.vmb-checkout-confirmation {

  .order-placedby {
    margin: 0 10px;
  }

  &__title {
    margin-left: 0;
    padding: 0 10px 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid @vmb-gray-2;
  }

  &__subtitle {
    margin-left: 0;
    padding: 20px 10px 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid @vmb-gray-2;
    font-size: 24px;
  }

  &__overview {
    background-color: @vmb-gray-2;
    padding: 20px;
    margin: 30px 10px;

    .item-label {
      padding: 5px 0;
    }

    .item-value {
      padding: 5px 0;
      font-size: 14px;
    }
  }

  &__details {
    padding: 0 10px;
    .mixin-flex-display();
    .mixin-justify-content(space-between);
    .mixin-flex-wrap(wrap);

    > div {
      .mixin-flex(1 1 auto);
    }

    &--shipping, &--payment, &--ordersplit {
      > div {
        margin-bottom: 15px;
      }
    }

  }

  &__totals {
    background-color: @vmb-gray-2;
    padding: 20px;


    @media (max-width: @screenSmMax) {
      .btn {
        margin: 10px 0 0;
        width: 100%;
        display: block;
      }
    }
  }
}

.vmb-checkout-delivery {
  padding-top: 15px;

  &__choice {
    .icon {
      font-size: 24px;
      color: @brand-primary;
    }
  }

  &__choiceoptions {
    padding: 0 20px;

    //&:not(.selected){
    //  display: none;
    //}
  }

  .vmb-show-addressbook {
    margin: 20px 0 15px;
  }

  .tecUid-label {
    display: block;
  }

  .select2-container {
    max-width: 300px;
    margin-bottom: 15px;
    min-width: 240px;


    .select2-selection--single {
      height: 40px;

      .select2-selection__rendered {
        line-height: normal;
        font-size: 12px;
        padding-top: 2px;
        height: 100%;
      }
    }
  }

  .checkout-store-selector-select2 {
    .select2-search--dropdown {
      display: none;
    }
  }

  &__table-address {
    margin-bottom: 15px;
    min-height: .01%;
    overflow-x: auto;
    width: 100%;


    @media (max-width: 1024px ) {
      overflow-y: hidden;
    }
  }

  &__address-title {
    width: 170px;
    padding: 0 0 0 8px;
  }

  &__address-content {
    max-width: 250px;
    width: auto;
    margin-left: 15px;
    padding: 0;
  }

  textarea {
    min-height: 100px;
  }

  .vmb-checkout-delivery__choiceoptions {
    margin-bottom: 25px;

    .ui-datepicker {
      max-width: 350px;
      width: auto;
    }

    table th:last-child {
      text-align: center;
    }

    td.ui-datepicker-week-col {
      text-align: center;
      vertical-align: middle;
    }
  }


}

.radiobuttons_paymentselection {
  &__type {
    border: 1px solid @vmb-gray-2;
    padding: 15px;

    input {
      margin-bottom: 10px;
    }

    &:first-of-type {
      -webkit-border-top-right-radius: @vmb-border-radius;
      -webkit-border-top-left-radius: @vmb-border-radius;
      -moz-border-radius-topright: @vmb-border-radius;
      -moz-border-radius-topleft: @vmb-border-radius;
      border-top-right-radius: @vmb-border-radius;
      border-top-left-radius: @vmb-border-radius;
    }

    &:not(:last-of-type) {
      border-bottom: none;
    }

    &:last-of-type {
      -webkit-border-bottom-right-radius: @vmb-border-radius;
      -webkit-border-bottom-left-radius: @vmb-border-radius;
      -moz-border-radius-bottomright: @vmb-border-radius;
      -moz-border-radius-bottomleft: @vmb-border-radius;
      border-bottom-right-radius: @vmb-border-radius;
      border-bottom-left-radius: @vmb-border-radius;
    }
  }

  &__icons {
    .mixin-flex-display();
    .mixin-flex-wrap(wrap);
    padding: 10px 0 0 23px;
    align-items: center;
  }

  &__icon {
    max-width: 64px;
    margin: 0 10px 10px 0;

    @media (max-width: @screenSmMax) {
      max-width: 50px;
    }
  }
}

.alternativeStores {
  padding-top: 5px;
}

.vmbPickUpDatePicker {
  margin-bottom: 20px;
}

#pickupDateNullInfo {
  margin-top: 15px;
  margin-bottom: 0px;
}
