.vmb-footer{

  .footer{

    &__top{
      padding: 30px 5px;
    }

    &__nav--container{
      .title{
        margin-bottom: 1rem;
        font-weight: bold;
      }
    }

    &__link{
      a{
        &:hover{
          color: @link-hover-color;
        }
      }
    }
  }

  .vmb-form-site-selector{

    .select2-selection{
      height: 30px;
      background-color: transparent;
    }
  }

}