.global-alerts{
  position: fixed;
  top: 20px;
  left: 50%;
  right: 0;
  z-index: 195;
  transform: translateX(-50%);

  .alert{
    opacity: 0.9;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    display: table;
    margin: 0 auto;

    .close{
      opacity: 0.5;
      margin-left: 10px;
    }

    a{
      color: white;
      font-weight: bold;
    }
  }

  .alert-danger, .alert-error{
    background-color: #ff3547;
    border: none;
    color: white;
  }

  .alert-info{
    background-color: #33b5e5;
    border: none;
    color: white;
  }

  .alert-success{
    background-color: #00c851;
    border: none;
    color: white;
  }

  .alert-warning{
    background-color: #fb3;
    border: none;
    color: white;
  }
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}