@import "header/navigation";
@import "header/favoriteStore";

.vmb-main-header{
  padding: 0 30px;
  .clearfix;

  &__langSelector{
    float: right;
    padding: 9px 0;

    ul{
      list-style: none;
      margin: 0;

      li{
        display: inline-block;
        padding: 0 10px;

        &:first-child{
          padding-left: 0;
        }

        &:not(:last-child){
          border-right: @text-color 1px solid;
        }
      }
    }

    button{
      background-color: transparent;
      border: none;
      color: @text-color;
      font-weight: normal;
      padding: 0;
      font-size: 14px;
      line-height: 1.329em;

      &:hover:not([disabled]){
        color: @link-hover-color;
      }

      &[disabled]{
        color: @link-hover-color;
      }

    }
  }

  .vmb-form-site-selector{
    float: right;
    padding: 5px 0;
    margin: 0 10px 0 5px;

    .select2-selection{
      height: 100%;
    }
  }

  &__quicknav{
    .mixin-flex-display();
  }
}

.vmb-site-logo{
  height: 100px;
  padding: 10px 0;

  a{
    display: block;
    background: url(~"@{vmb-image-path}VM_BLUE.svg") no-repeat left center;
    background-size: contain;
    height: 100%;
    width: 100%;

    @media (max-width: @screen-sm-max) {
      background-position: center center;
    }
  }
}

.vmb-site-nav{
  padding: 0;

}

.navigation{
  &.navigation--top{
    padding: 0;

    .nav__left{
      float: left;
    }

    .nav__right{
      display: inline-block;
      float: right;
    }
  }
}

.navigation--middle{
  border: none;

  .desktop__nav{
    .nav__left{
      padding-right: 0;
    }

    .nav__right{
      padding-right: 0;

      ul{
        padding-left: 0;
      }
    }
  }

  .nav-cart{
    padding-left: 15px;
  }
}

.navigation--bottom{
  border: none;
}

.nav__links--account{
  background-color: @nav-account-bg;

  > li{
    padding: 10px;
  }
}

.navigation--top .nav__right .nav__links--account li a{
  padding: 0;
  font-size: 14px;
}

.vmb-my-account{
  cursor: pointer;

  .glyphicon{
    margin-left: 5px;
  }
}

.vmb-nav-quickorder{
  padding: 8px;
  .btn-primary{
    .btn-primary;
    .btn;
  }
}

.navigation--middle .nav__left{
  .site-search{
    .mixin-flex(1);
    z-index: 100;

    .input-group{
      width: 100%;
    }
  }
  .quick-order{
    float: right;
    padding: 10px;


    .btn-primary{
      padding: 6px 15px;
      height: auto;
      .btn-primary;
    }
  }
}

//Account Menu
#accNavComponentDesktopOne {
  background-color: white;
  position: absolute;
  z-index: 200;
  right: 110px;
  margin-top: -7px;

  ul.nav__links{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    li {
      float: none;
      border-right: none;

      a{
        font-size: 14px;
        text-transform: none !important;
        padding: 9px 10px;
        line-height: 20px;
      }

      &:hover{
        background-color: @cyaan;
        a{
          color:white;
        }
      }
    }
  }

}

.vmb-topheader-menu{
  display: inline-block;
  list-style: none;
  padding-left: 30px;

  &__item{
    display: inline-block;
    padding: 0 10px;

    &:first-child{
      padding-left: 0;
    }

    &:not(:last-child){
      border-right: @text-color 1px solid;
    }

    a{
      color: @text-color;
      font-size: 14px;
      line-height: 1.329em;

      &:hover{
        color: @link-hover-color;
      }
    }
  }

  @media (max-width: @screenSmMax) {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0;

    &__item{
      width: 100%;
      display: block;
      border-right: none;
      border-bottom: 1px solid @border-color;
      padding: 15px 19px;

      &:first-child{
        padding-left: 19px;
      }

      &:not(:last-child){
        border-right: none;
      }

      a {
        color: @nav-cat-button-color;
      }
    }

  }
}

.vmb-netto-price-toggle__desktop{
  margin-right: 15px;
}

@media (max-width: @screen-sm-max) {
  .vmb-netto-price-toggle__mobile{
    border-bottom: 1px solid @border-color-2;
    padding: 5px 10px;
  }
}
