.vmb-product-item{
  .mixin-flex-display();
  .mixin-flex-direction(column);
  padding: 1rem;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: @vmb-border-radius;

  &__thumb{
    .mixin-flex(1 1 auto);
    .mixin-flex-display();
    margin-bottom: 10px;

    img{
      width: 100%;
      height: auto;
      margin: auto 0;
      max-height: 180px;
      object-fit: contain;
    }
  }

  &__content{
    .mixin-flex-display();
    .mixin-flex-direction(column);
    .mixin-justify-content(flex-end);
  }

  &__details{
    .mixin-flex(1 1 auto);
  }

  &__name{
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: @brand-primary;
    font-weight: bold;
  }

  &__sku{
    display: block;
    font-size: 12px;
    color: @text-color-secondary;
  }

  &__variants{
    margin-top: 1rem;
    display: block;
  }
}