.scroll-to-top-wrap {
  display: none;
  justify-content: flex-end;
  align-items: center;
}
.scroll-to-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: @cyaan;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: @cyaan-hover;
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-right: -2px;
    //margin-top: -2px;
  }
}