.vmb-stock-status{
  font-size: 20px;

  &--icon-inStock{
    .glyphicon;
    .glyphicon-ok-circle;
    color: @stock-status-inStock;
  }

  &--icon-outOfStock{
    .glyphicon;
    .glyphicon-remove-circle;
    color: @stock-status-outStock;
  }

  &--count-in {
    color: @stock-status-inStock;
  }

  &--count-out {
    color: @stock-status-outStock;
  }

  img[id^="vmb-stock-"][id$="-spinner"] {
    width: 20px;
    height: 20px;
  }
}

.vmb-stock-text{
  top: -10px;
  display: inline-block;
  position: relative;
  margin: 0 5px;
}

.vmb-stock-info{
  font-size: 20px;
}

.vmb-stock-icon-print {
  display: none;

  @media print {
    //only visible when user tries to print the page
    display: inline-block;
  }
}