.vmb-mini-cart{
  &-wrapper{
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.0);
    visibility: hidden;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  &-bg{
    width: 100%;
    height: 100%;
  }

  &-container{
    position: fixed;
    z-index: 1100;
    width: 390px;
    max-width:  ~"calc(100% - 30px)";
    height: 100vh;
    top: 0;
    right: -400px;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);

    @media (max-width: @screen-sm-max) {
      width: 100%;
      .simple-banner-component, .banner__component{
        margin: 0;
      }
    }

    .mini-cart{
      .legend{
        padding: 10px;
        border-bottom: 1px solid @border-color;

        h3{
          display: inline-block;
          font-weight: bold;

          a{
            color: @brand-primary;
            float: none;
          }
        }

        button{
          float: right;
        }
      }

      .mini-cart-list{
        max-height: 65vh;
        min-height: 20vh;
        overflow: auto;
        padding-left: 10px;
        li + li {
          margin-top: 15px;
        }

        .mini-cart-item{
          .clearfix();

          .details{
            padding-right: 10px;

            .name{
              color: @brand-primary;
            }

            .sku{
              .vmb-sku();
            }
          }
        }
      }
    }

    .mini-cart-checkout-button{
      .mixin-flex(1 1 50%);
      &__container{
        border-top: 1px solid @border-color;
        padding: 15px 10px;
        margin: 10px 0;
        .mixin-flex-display();

        .btn--continue-checkout{
          .mixin-flex(1 1 50%);
          margin: 10px 0 10px 10px;
        }
      }
    }

  }
}

.vmb-mini-cart-wrapper.show{
  visibility: visible;
  background-color: rgba(0,0,0,0.6);
  .vmb-mini-cart-container{
    right: 0;
  }
}