<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ attribute name="pageData" required="true" type="de.hybris.platform.commerceservices.search.facetdata.ProductSearchPageData" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>

<spring:htmlEscape defaultHtmlEscape="true"/>
<div class="facet js-facet">
	<div class="facet__values js-facet-values">
		<ul class="facet__filter">
			<c:if test="${not empty pageData.freeTextSearch}">
				<li>
					<c:url value="${pageData.freeTextSearchRemoveUrl}" var="removeTextSearchyUrl"/>
					text: ${fn:escapeXml(pageData.freeTextSearch)}&nbsp;<a href="${fn:escapeXml(removeTextSearchyUrl)}"><span
						class="glyphicon glyphicon-remove"></span></a>
				</li>
			</c:if>
			<c:if test="${not empty pageData.breadcrumbs}">
				<c:forEach items="${pageData.breadcrumbs}" var="breadcrumb">
					<li>
						<c:url value="${breadcrumb.removeQuery.url}" var="removeQueryUrl"/>
							${fn:escapeXml(breadcrumb.facetName)}: ${fn:escapeXml(breadcrumb.facetValueName)}&nbsp;<a
							href="${fn:escapeXml(removeQueryUrl)}"><span class="glyphicon glyphicon-remove"></span></a>
					</li>
				</c:forEach>
			</c:if>
		</ul>
	</div>
</div>

