<%@ tag import="com.vanmarcke.services.util.URIUtils" %>
<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>

<c:set var="currentUrl" value='<%=URIUtils.normalize(request.getAttribute("javax.servlet.forward.request_uri").toString())%>'/>

<nav class="navigation navigation--bottom js_navigation--bottom js-enquire-offcanvas-navigation" role="navigation">
    <div class="vmb-mobile-logo hidden-md hidden-lg">
        <div class="vmb-site-logo">
            <a class="logo" href="<c:url value="/"/>"></a>
        </div>
    </div>
    <div class="vmb-main-menu-btn">
        <button type="button" class="btn"><spring:theme code="nav.catalog"/><span
                class="glyphicon glyphicon-triangle-bottom"></span></button>
        <cms:pageSlot position="NavigationBar" var="component">
            <cms:component component="${component}"/>
        </cms:pageSlot>
    </div>
    <div class="vmb-mobile-account hidden-md hidden-lg">
        <button type="button" class="btn"><spring:theme code="header.link.account"/><span
                class="glyphicon glyphicon-triangle-bottom"></span></button>
        <ul class="vmb-mobile-account__nav">
            <%--Dynamically generated by 'header.js"--%>
            <sec:authorize access="hasAnyRole('ROLE_ANONYMOUS')">
                <li>
                    <c:choose>
                        <c:when test="${disableSmartEdit}">
                            <c:set value="/elisionsamlsinglesignon/saml${currentUrl}" var="loginUrl"/>
                        </c:when>
                        <c:otherwise>
                            <c:set value="/login" var="loginUrl"/>
                        </c:otherwise>
                    </c:choose>
                    <a href="${fn:escapeXml(loginUrl)}">
                        <spring:theme code="header.link.login"/>
                    </a>
                </li>
            </sec:authorize>
            <sec:authorize access="!hasAnyRole('ROLE_ANONYMOUS')">
                <li>
                    <c:choose>
                        <c:when test="${disableSmartEdit}">
                            <c:set value="/elisionsamlsinglesignon/saml/logout" var="logoutUrl"/>
                        </c:when>
                        <c:otherwise>
                            <c:set value="/logout" var="logoutUrl"/>
                        </c:otherwise>
                    </c:choose>
                    <a href="${fn:escapeXml(logoutUrl)}">
                        <spring:theme code="header.link.logout"/>
                    </a>
                </li>
            </sec:authorize>
        </ul>
    </div>
    <div class="vmb-mobile-directlinks hidden-md hidden-lg"><%--Dynamically generated by 'header.js"--%></div>
    <div class="vmb-netto-price-toggle__mobile<c:if test="${cmsSite.channel == 'DIY'}"> hidden</c:if>">
        <%--Dynamically generated by 'header.js"--%>
    </div>
    <div class="vmb-favorite-store__mobile">
        <%--Dynamically generated by 'header.js"--%>
    </div>
</nav>
